* {
  padding: 0;
  text-align: center;
  margin: auto;
}

body {
  background-color: lightgray;
}

#title {
  text-decoration: underline;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 30px;
}

#black {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: inline-block;
}

#red {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: inline-block;
}

#blue {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: inline-block;
}

#yellow {
  border: 1px solid black;
  width: 60px;
  height: 60px;
  display: inline-block;
}

#button-random-color {
  background-color: black;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  color: white;
  line-height: 45px;
  display: inline-block;
}

#clear-board {
  background-color: white;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  color: black;
  line-height: 45px;
  display: inline-block;
}

#pixel-board {
  margin-top: 30px;
  margin-bottom: 50px;
  padding: auto;
  text-align: center;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: white;
}
